* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
}

body {
  margin: 0 auto;
  background-color: #fff;
}

/* ------------ Header ------------ */
header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #407ea5;
  color: white;
  padding: 20px 0;
}

header div img {
  max-width: 150px;
}

header div h1 {
  font-size: 1.5rem;
  display: flex;
  align-items: baseline;
  align-self: center;
  justify-content: center;
  text-align: center;
}

/* ------------ Main ------------ */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

main h2 {
  margin: 5px 0;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.gif {
  width: 250px;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main form input {
  margin: 5px 0;
  padding: 3px 5px;
  max-width: 100px;
  border: 1px solid #ccc;
}

main form button {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #407ea5;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

main form button:hover {
  background-color: #2e5c7d;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
}

.result > p {
  text-decoration: underline;
  font-weight: bold;
}

#result {
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#result ul {
  list-style: none;
}

#result span {
  font-weight: bold;
}

/* ------------ Footer ------------ */
footer {
  padding: 10px 0;
  text-align: center;
  background-color: #407ea5;
  color: white;
}

footer a {
  text-decoration: none;
  font-weight: bold;
}
